body {
    background-color: #164C46; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .header {
    background-color: #126A5B; 
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #0E4F3D;
  }
  
  .header h1 {
    margin: 0;
    color: #B3FFDA;
    font-size: 2rem;
    font-weight: bold;
  }
  
  
  .container {
    margin: 20px auto;
    max-width: 700px;
    background: #126A5B;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start;
  }
  
  .section {
    margin-bottom: 20px;
    min-width: 660px;
  }
  
  .section h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #E0FFEC;
  }
  
  .feedback {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .buttons-container {
    height:200px;
  }
  
  .option {
    display: block;
    background: linear-gradient(90deg, #74E3C5, #5EDFB6);
    border: none;
    color: black;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    min-width: 120px;
    margin: 5px 0px 5px 0px;
  }
  
  .option:hover {
    background: #5EDFB6;
    transform: scale(1.05);
    color: white;
  }
  
  .correct {
    background-color: #4CAF50 !important; 
    color: white;
  }
  
  .incorrect {
    background-color: #F44336 !important;
    color: white;
  }